@media (min-width: 768px) {
  header ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 20px;
  }

  header {
    display: none;
  }

  .burger {
    display: none;
  }

  .menu {
    display: none;
  }

  .desktop-nav {
    display: grid;
  }

  .navbar {
    justify-content: center;
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 24px;
  }

  .container3 h1,
  h2 {
    font-size: 24px;
    margin-top: 0px;
  }

  .box3 h2 {
    align-self: top;
  }

  .redsection {
    padding: 180px 0px;
  }

  .desktop-nav {
    display: none;
  }

  .burger {
    display: block;
  }

  .hero-content p {
    font-size: 13px;
  }

  .burger {
    display: block;
  }

  .hero-content .button1 {
    margin-top: 0px;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #222;
  }

  .menu.active {
    display: flex;
  }

  .container,
  .container2,
  .container3,
  .container4 {
    padding: 0px;
  }

  /* NAVIGATION */
  .grid4x1 {
    grid-template-columns: 1fr 1fr;
  }

  /* REMOVE SIDE MARGINS */
  .sectionpadding2 {
    margin: 40px 20px;
  }

  /* CONTAINERS */
  .container,
  .container2,
  .container3 {
    width: 95%;
  }

  .container4 {
    width: 100%;
    left: 0;
  }

  /* HERO TEXT */
  .hero-content {
    width: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* STACK GRIDS */
  .grid1-1,
  .grid3x1,
  .grid4-1 {
    grid-template-columns: 1fr;
  }

  /* NEWS BOX GRID */
  .boxgrid {
    grid-template-columns: 1fr;
  }

  /* MENTAL SECTION */
  .mental-section {
    grid-template-columns: 1fr;
  }

  .line {
    display: none;
  }

  /* CARD HEIGHT */
  .card {
    height: 200px;
  }

  /* BUTTON */
}
